In [1]:
one = 1
two = 2
three = 3
four = 4
can = "can"
do = "do"
python = "python"
more = "more"
output = f"{one} {two} {three} {four} {can} {do} {python} {more}"
print(output)

1 2 3 4 can do python more

In [2]:
number1 = 15
number2 = 30
product = number1 * number2
print(f"The result is {product}")

The result is 450

In [3]:
def check(numbers):
    if numbers[0] == numbers[-1]:
        return True
    else:
        return False
numbers_x = [10,20,30,40,10]
numbers_y = [75,65,35,75,30]
print(f"Given list: {numbers_x}")
print(f"\nresult is {check(numbers_x)}")
print(f"\nGiven list: {numbers_y}")
print(f"\nresult is {check(numbers_y)}")

Given list: [10, 20, 30, 40, 10]

result is True

Given list: [75, 65, 35, 75, 30]

result is False

In [5]:
numbers = [10, 20, 33, 46, 55]

print(f"Given list is {numbers}")
print("\nDivisible by 5\n")

for number in numbers:
    if number % 5 == 0:
        print(f"{number}\n")

Given list is [10, 20, 33, 46, 55]

Divisible by 5

10

20

55

In [6]:
str_x = "Anjali is good developer. Anjali is a writer"
count = str_x.count("Anjali")
print(f"Anjali appeared {count} times")

Anjali appeared 2 times

In [7]:
for i in range(1,6):
    print((str(i) + " ") * i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [10]:
for i in range(1,11):
    for j in range(1,11):
        print(f"{i*j}", end= " ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [3]:
import numpy as np

Temp_K = [390.65, 107.52, 225.25, 275.98, 318.18, 88.45]

arr = np.array(Temp_K)

temp = arr-273.15

print(temp)

[ 117.5  -165.63  -47.9     2.83   45.03 -184.7 ]

In [9]:
import pandas as pd

data = {
    'Student': ['Tommy', 'Fred', 'Gail', 'Kobi', 'Randy', 'Ariel'],
    'Hair Color': ['Brown', 'Grey', 'Blonde', 'Black', 'Black', 'Brown'],
    'Eye Color': ['Hazel', 'Green', 'Blue', 'Brown', 'Hazel', 'Blue'],
    'Weight': [60, 80, 76, 60, 88, 85]
}

df = pd.DataFrame(data)
df.index.name = 'Index'

print("data frame:")
print(df)

print("\nHair color column as series:")
print(df['Hair Color'])

print("\nEye color column as dataframe:")
print(df[['Eye Color']])

print("\nStudent and Weight columns as dataframe:")
print(df[['Student', 'Weight']])

print("\nSecond thru fourth observations:")
print(df[1:4])

data frame:
      Student Hair Color Eye Color  Weight
Index
0       Tommy      Brown     Hazel      60
1        Fred       Grey     Green      80
2        Gail     Blonde      Blue      76
3        Kobi      Black     Brown      60
4       Randy      Black     Hazel      88
5       Ariel      Brown      Blue      85

Hair color column as series:
Index
0     Brown
1      Grey
2    Blonde
3     Black
4     Black
5     Brown
Name: Hair Color, dtype: object

Eye color column as dataframe:
      Eye Color
Index
0         Hazel
1         Green
2          Blue
3         Brown
4         Hazel
5          Blue

Student and Weight columns as dataframe:
      Student  Weight
Index
0       Tommy      60
1        Fred      80
2        Gail      76
3        Kobi      60
4       Randy      88
5       Ariel      85

Second thru fourth observations:
      Student Hair Color Eye Color  Weight
Index
1        Fred       Grey     Green      80
2        Gail     Blonde      Blue      76
3        Kobi      Black     Brown      60