I am dutifully logging my bike milage every day with a paper and a pencil. Unfortunately, I have to use my bike's odometer and it only shows the sum of all the miles I've biked. How many miles did I ride my bike each day?

In [11]:
import pandas as pd

# Let's create a pandas series to represent cumulative miles I've traveled at the end of each day on my trip!

cum_miles = pd.Series([55,120,170,230,300,350,410,430,500])

In [12]:
# Let's now calculate the daily miles

daily_miles = cum_miles.diff()

In [13]:
# Let's set the first value for daily miles to the first value of odometer since we are using a diff function
daily_miles.iloc[0] = cum_miles.iloc[0]

In [14]:
# Let's create a data frame for these miles

data = pd.DataFrame({
    'Odometer' : cum_miles,
    'Daily Miles' : daily_miles
})

In [15]:
# Let's display the data frame

data

   Odometer  Daily Miles
0        55         55.0
1       120         65.0
2       170         50.0
3       230         60.0
4       300         70.0
5       350         50.0
6       410         60.0
7       430         20.0
8       500         70.0